node_modules/
.git/

dist/
build/
.gradle/
.expo/
.expo-shared/
.vercel/
.firebase/

android/.gradle/
android/build/
android/app/build/
android/.cxx/
android/app/.cxx/
android/app/release/
android/app/debug/

deercamp-archive-raw/
deercamp-origin-archive/

*.log
eas-build*.json
eas-log*.txt
eas-build-log*.txt
eas-build-error*.json

.DS_Store
Thumbs.db
*.tmp
*.bak

.env
.env.local
.env.*.local
